<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Inventory_Management.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/The Bezier</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Oxygen 3</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Inventory_Management.My.MySettings>
      <setting name="server" serializeAs="String">
        <value>winlandene.synology.me</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>zerpdb</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>zerp</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>zerpconnectsall</value>
      </setting>
      <setting name="UserFolder" serializeAs="String">
        <value>User Photos</value>
      </setting>
      <setting name="FTPusername" serializeAs="String">
        <value>wlftp</value>
      </setting>
      <setting name="FTPpass" serializeAs="String">
        <value>@Ftpmaster2297</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="login_user" serializeAs="String">
        <value />
      </setting>
      <setting name="port" serializeAs="String">
        <value>63306</value>
      </setting>
      <setting name="FTPport" serializeAs="String">
        <value>65021</value>
      </setting>
      <setting name="FTPserver" serializeAs="String">
        <value>winlandene.synology.me</value>
      </setting>
      <setting name="folder_product" serializeAs="String">
        <value>Product Photos</value>
      </setting>
      <setting name="SalesFolder" serializeAs="String">
        <value>Sales</value>
      </setting>
    </Inventory_Management.My.MySettings>
  </userSettings>
</configuration>